html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
// #https://modernfontstacks.com/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.0122rem;
  word-spacing: 0.033rem;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  // background: #e0e7e8;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  // background: #e0e7e8;
  text-shadow: none;
}
