<main class="app--main h-full">
  <mat-sidenav-container class="h-full">
    <mat-sidenav (closedStart)="$flags.off(KEY_FLAGS)" mode="over" [opened]="$flags.pull(KEY_FLAGS)" fixedInViewport
      [fixedTopGap]="0" [fixedBottomGap]="0">
      <button mat-button (click)="$flags.toggle(KEY_FLAGS)">toggle</button>
    </mat-sidenav>
    <mat-sidenav-content class="h-full">
      <button mat-button (click)="$flags.toggle(KEY_FLAGS)">toggle</button>
      <div class="app-nav--main flex flex-wrap *gap-3 justify-around">
        <a mat-button routerLink="">home</a>
        <a mat-button routerLink="/app">app</a>
        <a mat-button routerLink="/demo">demo</a>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
