<main class="app--main h-full">
  <mat-sidenav-container class="h-full">
    <mat-sidenav (closedStart)="$flags.off(isActiveSidenav)" mode="over" [opened]="$flags.pull(isActiveSidenav)"
      fixedInViewport [fixedTopGap]="0" [fixedBottomGap]="0">
      <button mat-button (click)="$flags.toggle(isActiveSidenav)">toggle</button>
    </mat-sidenav>
    <mat-sidenav-content class="h-full relative">
      <!-- @@pages -->
      <div [@routeTransitionBlurInOut]="routeTransitionPrepareOutlet(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
      <!-- @@main-nav --bottom -->
      @if (!toggleAppNavHidden.isActive()) {
      <app-nav-main class="app-nav--main fixed inset-x-0 z-[1] bottom-0" />
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
