<app-layout-default>
  <section class="page--index">
    <div class="__spacer__ max-w-md mx-auto space-y-3 mt-3 mb-24">
      <mat-card class="overflow-hidden !bg-transparent">
        <a routerLink="/stores">
          <img mat-card-image src="/hznteiifpyr.png" />
          <mat-card-header class="!p-4">
            <mat-card-title>Proizvođači</mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
      <mat-card class="overflow-hidden !bg-transparent">
        <a routerLink="/products">
          <img mat-card-image src="/dgmttbnxzyj.png" />
          <mat-card-header class="!p-4">
            <mat-card-title>Roba</mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
      <mat-card class="overflow-hidden !bg-transparent">
        <a routerLink="/orders">
          <img mat-card-image src="/jladxkcmtyl.png" />
          <mat-card-header class="!p-4">
            <mat-card-title>Narudžbenice</mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </div>
  </section>
</app-layout-default>
